/* Default styles for all devices */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    font-size: 18px; /* Default font size for larger screens */
}

/* Media query for devices with a viewport width of 600 pixels or less */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

/* Media query for devices with a viewport width of 900 pixels or less */
@media screen and (max-width: 900px) {
    body {
        font-size: 16px;
    }
}
